<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Structure.cc - DMARC Analysis &amp; Reporting</title>
    <meta name="description" content="Structure.cc is a DMARC report alerting and analysis tool">
    <meta name="keywords"    content="dmarc email report analysis tool">
    <meta name="google-site-verification" content="-nHZzONeyh30nar4VAzDLeAoKvNLn_JQTQBF9qI3yN4">
    <meta name="ROBOTS" content="index, nofollow">
    <meta name="author" content="Structure.cc">
    <meta property="og:title" content="Structure.cc - DMARC Reports, Alerts, and Analysis" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.structure.cc" />
    <meta property="og:image" content="<%= image_path "robot.png"%>" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>

        <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

  </head>

  <body>

    <div class="container">
      <div class="row masthead">
        <div class="span12">
          <h1 class="logo">Structure.cc</h1>
        </div>
      </div>
      <div class="row hero">
        <div class="span6">
          <h2>DMARC Reporting & Analysis</h2>

          <%= image_tag "splash/robot.png", :class => "robot" %>
        </div>

        <div class="span6">
          <h2>What is this?</h2>
          <p>Structure is a little service that makes sense of your daily <strong>DMARC</strong> reports.  You send (or forward) your daily reports to us and we'll provide you with actionable information and in-depth statistics based on the results.</p>
          <h2>When will it be live?</h2>
          <p>In order to ensure we get the formula right, we're currently in closed beta.  We're allowing select customers to participate based on their needs and experience. <em>Service will remain free for all beta participants for life!</em>  If you're interested please join our mailing list for more information!</p>
          <!-- Begin MailChimp Signup Form -->
	  <h2>Join our mailing list!</h2>
          <div id="mc_embed_signup">
            <form action="http://structure.us5.list-manage1.com/subscribe/post?u=75cfe5aab3a9ef1b7363b4c55&amp;id=2238c81fb4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
              <div class="mc-field-group">
	        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
	      <div id="mce-responses" class="clear">
	        <div class="response" id="mce-error-response" style="display:none"></div>
	        <div class="response" id="mce-success-response" style="display:none"></div>
	      </div>	
              <div class="clear"></div>
            </form>
          </div>
          
          <!--End mc_embed_signup-->

        </div>


        
      </div>
      
      <!--
          <div class="row countdown">
            <div class="span12">
              
              <h2>Time until site launch:</h2>

              <div id="counter">
              </div>
            </div>
          </div>    
          -->
      <div class="row footer">
        <div class="span6 offset6">
          <p>&copy;2012 <%= link_to "Structure.cc", "http://www.structure.cc"%> |  
            Email: <a href="mailto:info@structure.cc">info@structure.cc</a>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style">
              <a class="addthis_button_twitter"></a>
              <a class="addthis_button_google"></a>
              <a class="addthis_button_facebook"></a>
              <a class="addthis_button_compact"></a>
              <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fd7768413d24ce9"></script>
            <!-- AddThis Button END -->
          </p>
        </div>
      </div>

    </div> <!-- /container -->
    <!-- Le javascript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
      // CHANGE THESE NUMBERS TO SPECIFY YOUR LAUNCH DATE
      $(function () {
      var liftoffTime = new Date(2012, 7 - 1, 22, 11, 00);
      $('#counter').countdown({until: liftoffTime, 
      layout: '{dn} {dl}, {hn} {hl}, {mnn} {ml}, {snn} {sl}'});
      });
      $(function(){$('#counter').css("background","none")});
    </script>
    <script type="text/javascript"> 
      $(document).ready(function() {
      // SUCCESS AJAX CALL, replace "success: false," by:     success : function() { callSuccessFunction() }, 
      $("#formID").validationEngine({
      success :  false,
      failure : function() {}
      })
      //$.validationEngine.buildPrompt("#date","This is an example","error")       // Exterior prompt build example
      //$.validationEngine.closePrompt(".date")                      // Exterior prompt close example
      });
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32597834-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <!-- AddThis Welcome BEGIN -->
    <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fd7768413d24ce9"></script>
    <script type='text/javascript'>
      addthis.bar.initialize({'default':{
      "backgroundColor": "#000000",
      "buttonColor": "#098DF4",
      "textColor": "#FFFFFF",
      "buttonTextColor": "#FFFFFF"
      },rules:[
      {
      "name": "AnyOther",
      "message": "If you're interested in our product, do us a favor:",
      "action": {
      "type": "button",
      "text": "Tweet it!",
      "verb": "share",
      "service": "twitter",
      "url": "http://www.structure.cc"
      }
      },
      {
      "name": "Twitter",
      "match": {
      "referringService": "twitter"
      },
      "message": "If you find this page helpful:",
      "action": {
      "type": "button",
      "text": "Tweet it!",
      "verb": "share",
      "service": "twitter"
      }
      },
      {
      "name": "Facebook",
      "match": {
      "referringService": "facebook"
      },
      "message": "Tell your friends about us:",
      "action": {
      "type": "button",
      "text": "Share on Facebook",
      "verb": "share",
      "service": "facebook"
      }
      },
      {
      "name": "Google",
      "match": {
      "referrer": "google.com"
      },
      "message": "If you like this page, let Google know:",
      "action": {
      "type": "button",
      "text": "+1",
      "verb": "share",
      "service": "google_plusone_share"
      }
      }
      ]});
    </script>
    <!-- AddThis Welcome END -->
    <script>
      var addthis_config =
      {
      data_ga_tracker: 'UA-32597834-1'
      }
    </script>
    
  </body>

</html>
